# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/

# Builds
build/
dist/

# Environments
.env
.env.*
.venv/
venv/

# Logs
*.log

# IDE/editor
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Project
*.sqlite3
instance/
